---
import KeyFactorsImg from "../images/key_factors.png";
import MediaImg from "../images/media.png";
import PrivateImg from "../images/private.png";
import CivilImg from "../images/civil.png";
import InfraImg from "../images/infrastructural.png";
import KeyStoneImg from "../images/keystone.png";
import PublicImg from "../images/public.png";
import { getImage } from "astro:assets";
import PyramidObj from "./PyramidObj.astro";

const opKeyFactorsImg = await getImage({ src: KeyFactorsImg, format: "webp" });
const opMediaImg = await getImage({ src: MediaImg, format: "webp" });
const opPrivateImg = await getImage({ src: PrivateImg, format: "webp" });
const opCivilImg = await getImage({ src: CivilImg, format: "webp" });
const opInfraImg = await getImage({ src: InfraImg, format: "webp" });
const opKeyStoneImg = await getImage({ src: KeyStoneImg, format: "webp" });
const opPublicImg = await getImage({ src: PublicImg, format: "webp" });
---

<div id="pyramid-container" class="pyramid-container bg-blue-dark pt-10">
  <div class="container mx-auto max-w-6xl mt-20">
    <div id="scroller" class="flex flex-col gap-10 px-6 md:hidden">
      <div
        id="key_factors"
        class="scroller-section text-white flex flex-col relative overflow-hidden rounded-lg p-10"
      >
        <img
          class="absolute left-0 top-0 w-full h-full object-cover"
          src={opKeyFactorsImg.src}
          alt="bg"
        />
        <div class="relative flex flex-col justify-between">
          <div class="z-10">
            <h4 class="text-2xl font-bold uppercase">
              Access to <br /> information
            </h4>
            <ul class="text-start list-disc mt-5">
              <li class="text-xl">Proactive provision</li>
              <li class="text-xl">Freedom of Information Act</li>
              <li class="text-xl">Procedural Efficiency</li>
              <li class="text-xl">Officials Engage with press</li>
            </ul>
          </div>
        </div>
        <div class="relative flex flex-col justify-between my-5">
          <div class="z-10">
            <h4 class="text-2xl font-bold uppercase">Norms</h4>
            <ul class="text-start list-disc mt-5">
              <li class="text-xl">Transparency</li>
              <li class="text-xl">Culture</li>
              <li class="text-xl">Trust</li>
            </ul>
          </div>
          <span></span>
        </div>
        <div class="relative flex flex-col justify-between">
          <div class="z-10">
            <h4 class="text-2xl font-bold uppercase">
              People & <br /> Communities
            </h4>
            <ul class="text-start list-disc mt-5">
              <li class="text-xl">Information needs</li>
              <li class="text-xl">Beliefs</li>
              <li class="text-xl">Civic & Scientific literacy</li>
              <li class="text-xl">Media & Information literacy</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="media" class="scroller-section">
        <div class="relative rounded-lg overflow-hidden">
          <img
            src={opMediaImg.src}
            class="absolute left-0 top-0 w-full h-full"
          />
          <ul class="text-white text-center z-10 relative p-10">
            <li class="text-2xl font-bold text-blue-dark-translucent">
              Entertainment
            </li>
            <li class="text-2xl font-bold mt-5 text-blue-dark-translucent">
              Diversity & Pluralism
            </li>
            <li class="text-2xl font-bold mt-5 text-blue-dark-translucent">
              User-generated content
            </li>
            <li class="text-2xl font-bold mt-5 text-blue-dark-translucent">
              Transparency
            </li>
          </ul>
        </div>
      </div>
      <div id="non_fiction" class="scroller-section">
        <div
          class="grid grid-cols-1 gap-y-10 bg-[#91ffea] p-10 rounded-lg overflow-hidden"
        >
          <div class="">
            <h4 class="text-2xl font-bold uppercase">
              Preparedness & Resilience
            </h4>
            <ul class="list-disc mt-5">
              <li class="text-xl">Safety & Security</li>
              <li class="text-xl">Digital Infrastructure</li>
              <li class="text-xl">Training & Capacity Building</li>
              <li class="text-xl">Adaptability</li>
              <li class="text-xl">SEO, metadata, digitalization</li>
            </ul>
          </div>
          <div class="">
            <h4 class="text-2xl font-bold uppercase">Biz / Org</h4>
            <ul class="list-disc mt-5">
              <li class="text-xl">Economic model</li>
              <li class="text-xl">Ownership & Independence</li>
              <li class="text-xl">Sources & Proximity</li>

              <li class="text-xl">Relevance</li>
              <li class="text-xl">Platforms</li>
            </ul>
          </div>
          <div class="">
            <h4 class="text-2xl font-bold uppercase">Professionalism</h4>
            <ul class="list-disc mt-5">
              <li class="text-xl">Norms</li>
              <li class="text-xl">Habits</li>
              <li class="text-xl">Standards & Codes of Ethics</li>
              <li class="text-xl">Training & Skills Buildings</li>
            </ul>
          </div>
          <div class="">
            <h4 class="text-2xl font-bold uppercase">Editorial</h4>
            <ul class="list-disc mt-5">
              <li class="text-xl">Inclusivity</li>
              <li class="text-xl">Languages</li>
              <li class="text-xl">Factchecking & Verification</li>
              <li class="text-xl">Independence</li>
              <li class="text-xl">Coverage / Beats</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="private" class="scroller-section">
        <div class="relative p-10 rounded-lg overflow-hidden">
          <img
            src={opPublicImg.src}
            class="absolute left-0 top-0 w-full h-full object-cover"
          />
          <ul class="text-white text-center z-10 relative">
            <li class="text-2xl font-bold leading-tight">
              Market Research & Audience <br /> Measurement
            </li>
            <li class="text-2xl font-bold mt-5 leading-tight">
              Teach / ICT companies
            </li>
            <li class="text-2xl font-bold mt-5 leading-tight">
              Legal organizations
            </li>
            <li class="text-2xl font-bold mt-5 leading-tight">Advertising</li>
          </ul>
        </div>
      </div>
      <div id="civil" class="scroller-section">
        <div class="relative p-10 rounded-lg overflow-hidden">
          <img
            src={opCivilImg.src}
            class="absolute left-0 top-0 w-full h-full object-cover"
          />
          <ul class="text-white text-center relative z-10">
            <li class="text-2xl font-bold leading-tight">
              Independent, self-regulatory professional <br /> bodies /
              associations / unions
            </li>
            <li class="text-2xl font-bold mt-5 leading-tight">
              Monitoring groups
            </li>
            <li class="text-2xl font-bold mt-5 leading-tight">
              Digital Rights Organizations
            </li>
            <li class="text-2xl font-bold mt-5 leading-tight">Academia</li>
          </ul>
        </div>
      </div>
      <div id="public1" class="scroller-section">
        <div class="relative p-10 rounded-lg overflow-hidden">
          <img
            src={opPublicImg.src}
            class="absolute left-0 top-0 w-full h-full object-cover"
          />
          <ul class="text-white text-center z-10 relative">
            <li class="text-2xl font-bold">Legal regulatory system</li>
            <li class="text-2xl font-bold mt-5">Competition standards</li>
            <li class="text-2xl font-bold mt-5">Privacy / Data protection</li>
          </ul>
        </div>
      </div>
      <div id="public2" class="scroller-section">
        <div class="relative p-10 rounded-lg overflow-hidden">
          <img
            src={opPublicImg.src}
            class="absolute left-0 top-0 w-full h-full object-cover"
          />
          <ul class="text-white text-center z-10 relative">
            <li class="text-2xl font-bold">Political interventionism</li>
            <li class="text-2xl font-bold mt-5">Press / internet freedom</li>
            <li class="text-2xl font-bold mt-5">
              Funding for Public Service Media
            </li>
          </ul>
        </div>
      </div>
      <div id="key_stone" class="scroller-section">
        <div class="relative p-10 rounded-lg overflow-hidden">
          <img
            src={opKeyStoneImg.src}
            class="absolute left-0 top-0 w-full h-full object-cover"
          />
          <ul class="text-white text-center relative z-10">
            <li class="text-2xl font-bold text-blue-dark-translucent">
              Investigative Media
            </li>
            <li class="text-2xl font-bold text-blue-dark-translucent mt-5">
              Watchdog Media
            </li>
            <li class="text-2xl font-bold text-blue-dark-translucent mt-5">
              Public Service Media
            </li>
            <li class="text-2xl font-bold text-blue-dark-translucent mt-5">
              Alternative Media
            </li>
            <li class="text-2xl font-bold text-blue-dark-translucent mt-5">
              Local Media
            </li>
            <li class="text-2xl font-bold text-blue-dark-translucent mt-5">
              National Media
            </li>
          </ul>
        </div>
      </div>
      <div id="infrastructural" class="scroller-section">
        <div class="relative p-10 rounded-lg overflow-hidden">
          <img
            src={opInfraImg.src}
            class="absolute left-0 top-0 w-full h-full object-cover"
          />
          <div class="relative z-10">
            <h4
              class="text-white font-bold text-2xl text-center self-center leading-tight"
            >
              Datification & <br /> Digitalization
            </h4>
            <ul class="text-white self-center text-center my-5">
              <li class="">Labeling & Classification</li>
              <li class="mt-2">Platforms / Mediums</li>
              <li class="mt-2">AI / ML</li>
              <li class="mt-2">Data</li>
              <li class="mt-2">Business Model</li>
              <li class="mt-2">Authentification / Provenance</li>
              <li class="mt-2">Content Moderation</li>
            </ul>
            <h4
              class="text-white font-bold text-2xl text-center self-center leading-tight"
            >
              Access & <br /> Connectivity
            </h4>
          </div>
        </div>
      </div>
    </div>
    <PyramidObj />
  </div>
</div>

<script>
  import { activePyramidItem } from "../store/pyramid";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const isMobile = window.innerWidth < 768;

  const scroller = document.getElementById("scroller");
  const pyramid = document.getElementById("pyramid");
  // const pyramidContainer = document.getElementById("pyramid-container");

  const setActiveCircle = (id: string, active: boolean) => {
    const circle = document.querySelector(`circle[data-id="${id}"]`);
    circle.setAttribute("r", active ? "12px" : "8px");
    circle.setAttribute(
      "fill",
      active ? "#fafafa" : circle.getAttribute("data-fill"),
    );
  };

  if (!isMobile) {
    gsap.timeline({
      scrollTrigger: {
        markers: true,
        trigger: "#pyramid-container",
        start: "top top",
        end: "bottom center",
        scrub: true,
        pin: "#pyramid",
      },
    }).from("#pyramid .riseAnim", {
      y: 50,
    }).from("#pyramid .plantsAnim", {
      y: 410,
    })


    // gsap.from("#pyramid .riseAnim", {
    //   y: 100,
    //   scrollTrigger: {
    //     // markers: true,
    //     trigger: "#pyramid",
    //     start: "top 100%",
    //     end: "top 25%",
    //     scrub: 1,
    //   },
    // });

    // gsap.from("#pyramid .plantsAnim", {
    //   // y: 372.84,
    //   y: 410,
    //   delay: 2,
    //   scrollTrigger: {
    //     // markers: true,
    //     trigger: "#pyramid",
    //     start: "top 40%",
    //     end: "top -10%",
    //     scrub: true,
    //   },
    // });

    const circles = pyramid.querySelectorAll("circle ~ circle");
    for (let c of circles) {
      const dataId = c.getAttribute("data-id");
      c.addEventListener("click", (e: MouseEvent) => {
        const x = e.clientX;
        const y = e.clientY;
        activePyramidItem.set([dataId, [x, y]]);
      });
    }
  } else {
    const sections = gsap.utils.toArray(".scroller-section");
    sections.forEach((section: HTMLElement) => {
      ScrollTrigger.create({
        // markers: true,
        trigger: section,
        start: "top 100px",
        end: "bottom 100px",
        onEnter: () => setActiveCircle(section.getAttribute("id"), true),
        onEnterBack: () => setActiveCircle(section.getAttribute("id"), true),
        onLeave: () => setActiveCircle(section.getAttribute("id"), false),
        onLeaveBack: () => setActiveCircle(section.getAttribute("id"), false),
      });
    });

    gsap.to("#scroller", {
      ease: "none",
      y: -scroller.clientHeight + pyramid.clientHeight,
      scrollTrigger: {
        // markers: true,
        trigger: ".pyramid-container",
        pin: ".pyramid-container",
        start: "top top",
        end: `+=${scroller.clientHeight + pyramid.clientHeight}`,
        scrub: 0,
        invalidateOnRefresh: true,
      },
    });
  }
</script>

<style is:global lang="postcss">
  .pyramid-container {
    @apply h-screen md:h-auto;
    overflow: hidden;
    position: relative;
    #pyramid {
      bottom: 0;
      width: 100%;
      @apply bg-blue-dark pt-[1rem] px-4 absolute md:relative;
      text {
        @apply font-[1.6rem] md:font-[18px];
      }

      circle ~ circle {
        transition: all 0.2s ease;
        cursor: pointer;
      }
      circle ~ circle:hover {
        r: 10px;
        fill-opacity: 0.5;
      }
    }
  }
</style>
